* {
    padding: 0 ;
    margin: 0;
    font-family: sans-serif;
    color: white;
    list-style: none;
    text-decoration: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(252, 253, 240);
  }


.for-center {
    display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;  
  margin: 0 20px ;
  
}

.gg {
    margin: 100px 0;
}

#main-tasbih {
    border: 2px solid red;
    text-align: center;
    border-radius: 20px;
    height: 500px;
    width: 300px;
    background-color: rgb(86, 86, 215);
    box-shadow: 4px 4px 5px rgba(101, 99, 99, 0.653);
}

#main-tasbih h1 {
    text-align: center;
    margin: 14px 0;
    width: 100px;
    margin: 10px auto;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.337);
}

#main-tasbih h3 {
    text-align: center;
}

#click {
    margin-top: 20px;
    background-color: rgb(250, 250, 35);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    border: none;

    
}



.parents-click {
    position: relative;
}

#reaset {
    border-radius: 100%;
    width: 25px;
    height: 25px;
    border: none;
    background-color: rgb(41, 41, 38);
    position: absolute;
    bottom: 0;
    
}

.scale {
    transform: scale(0.9);
    transition: all 0.1s;
}

.scale-res {
    transform: scale(1);
    transition: all 0.1s;

}

.header1 {
    background-color:rgb(240, 222, 58);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 50px;
    /* display: none; */
}

.a {
    text-decoration: none;
    color: white;
    margin: 0 0 0 10px;
    padding: 10px;
    font-size: 21px;
    font-weight: 900;
    font-family: 'Noto Sans Arabic', sans-serif;

}