
*{
    font-size: 24px;
    line-height: 48px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Arabic', sans-serif;
    list-style: none;
    text-decoration: none;

}

.done {
    background-color: white;
    max-width: 900px;
    max-height: 900px;
    text-align: center;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    border-radius: 10px;
    margin: 0 auto;
    
    display: none;
}

.done p {
    font-weight: bolder;
    font-size: 30px;
    margin: 50px;
}

.copy {
    background-color: rgb(43, 230, 43);
    color: white;
    border-radius: 10px;
    padding: 0;
    width: 70px;
    border: none;
    position: relative;
    transition: all 0.5s;

}

button:hover {
    background-color: rgb(25, 245, 25);
    transition: all 0.5s;
}

.copyButton {
    z-index: 4;
}

#confirmationMessage {
    position: absolute;
    bottom: 0;
    z-index: 10000;
    margin: 0 auto;
}

body {
    background-color: rgb(252, 253, 240);
}

/* "1. header" */


.header1 {
    background-color:rgb(240, 222, 58);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    /* display: none; */
}

.header-phone {
    background-color:rgb(240, 222, 58);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    height: 50px;

}

.header-phone a {
    text-decoration: none;
    color: white;
    margin: 0 0 0 10px;
    padding: 10px;
    font-size: 21px;
    font-weight: 900;
}


.fa-solid {
    color: white;
    font-size: 40px;
    margin-left: 10px;
    cursor: pointer;
    z-index: 1;

}

.drop {
    position: absolute;
    position: fixed;
    background-color: rgb(240, 222, 58);
    width: 300px;
    border-radius: 9px;
    display: none;
    top: 0px;
    left: 0;
    bottom: 0;
    z-index: 5;
    transition: all 1s;
    
}


li  {
    border-bottom: 2px solid rgba(255, 255, 255, 0.575);
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 17px;
    font-weight: 900;
}

ul li a {
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans Arabic', sans-serif;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;



}

.transperant {
    background-color: black;
    opacity: 0.4;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: none;
    transition: all 1s;
}



ul {
    margin-top: 77px;
    transition: all 1s;

}

ul :hover {
    background-color: rgba(255, 208, 0, 0.596);
}


.a {
    text-decoration: none;
    color: white;
    margin: 0 0 0 10px;
    padding: 10px;
    font-size: 21px;
    font-weight: 900;
}

.all-azkar {
    padding: 0;
    margin: 0;
    margin-right: 10px;
}





/*=============
 "2. contant" 
 ==============*/


.azkars {
    /* border: 1px solid rgb(255, 0, 0); */
    padding: 0px 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

/*=============
 "3. contant inside box" 
 ==============*/

.all-azkar-inside-box {
    font-size: x-large;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid rgb(211, 221, 211); */
    border-radius: 10px;
    box-shadow: 0px 10px rgb(43, 230, 43);
    border: 1px solid rgba(10, 10, 10, 0.13);

    
}

.text {
    padding: 30px;
    opacity: 0.8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.share-counter-box {
    display: flex;
    justify-content: space-around;
    background-color: rgb(43, 230, 43);
    /* rgb(56, 79, 110) */
    height: 50px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 50px;


}

.tikrar-parents{
    display: flex;
    margin-top: px;
    
}


.tikrar-parents p{
    color: white;
    margin-right: 10px;
    
}

.number {
    background-color: transparent;
    margin-right: 10px;
    color: white;
    border: none;
    

}

.when-click {
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.margin-bottom {
}

/*=============
?????????????
 ==============*/

.counter {
    
    margin: 50px auto;
    background-color: rgb(159, 168, 164);
    width: 100px;
    text-align: center;
    border-radius: 8px;
    color: white;
    box-shadow: 2px 2px 5px rgb(170, 164, 164);
}

.transform {
    transform: translateX(-180%);
    transition: transform 1s ease-in-out;
}


/*=============
 "3.1 for js when click" 
 ==============*/


.remove {
    transition: all 2s;

}

.remove {
    display: none;

}

.textclick {
    font-size: 50px;
    transition: font-size 0.9s;
    padding: 100px;
    color: white;
}




.back {
    background-color: rgb(53, 57, 107);
    width: 70%;
    height: 30%;
    margin: 0 auto;
    text-align: center;
    box-shadow: none;
}







.icon{
    background-color: rgb(56, 79, 110);
    color: white;
    padding: 9px;
    font-size: xx-large;    
}

.share-parents {
    display: flex;

}

.share-parents p {
    color: white;
    margin-left: 8px;
}

.icon-share2 {
    padding: 7px;
    background-color: transparent;
}

.icon-number {
    margin: 0;

}


/* =============
    for js
============= */


.bay {
    transition: all 1.5s;
    transform: translateX(-200%)
}

.block {
    display: block;
}


.none {
    background-color: transparent;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: inline-block;
    position: absolute;
    left: 0;
}

@media (max-width:600px) {
    .header1 {
        display: none;
    }
    .header-phone {
        display: flex;
    }

    .transform {
        transform: translatex(-140%);
        transition: all 1s
    }
}